.aboutus-landing-page{
    min-height: 100vh;
    background: url("../images/aboutus/bg.png") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
@media(max-width:768px){
    .aboutus-landing-page{
        background: url("../images/aboutus/mob-bg.png") ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
    }
}

.mission{
    margin-top: 200px;
}
@media(max-width:768px){
    .mission{
        margin-top: 130px;
        margin-left: auto;
        margin-right: auto;
    }
}
.mission-heading{
    font-size: 62px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
}
@media(max-width:768px){
    .mission-heading{
        text-align: center;
        font-size: 45px;
        letter-spacing: 2px;
        margin-left: auto;
        margin-right: auto;
    }
}
.mission-content{
    font-size: 20px;
    font-weight: 600;    
    color: white;
    margin-top: 40px;
}
@media(max-width:768px){
    .mission-content{
        font-size: 15px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
.section-heading-abt{
    font-weight: 700;
    font-style: bold;
    color: #696969;
    font-size: 3rem;

}
@media(max-width:768px){
    .section-heading-abt{
        font-size: 2rem;
        text-align: center;
        margin-right: 20px;
    }
}

.abtus-container{
    margin-left: auto;
    margin-right: auto;
}

.highlightme-abt{
    color: #473DE7;
}

.story-header{
    float: right;
    margin-right: 90px;
}
@media(max-width:768px){
    .story-header{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

.justice{
    margin-right: 100px;
    margin-left: 100px;
}
@media(max-width:768px){
    .justice{
        margin-left: auto;
        margin-right: auto;
    }
}

.actual-story{
    margin-right: 100px;
    margin-left: 100px;
}
@media(max-width:768px){
    .actual-story{
        margin-left: 30px;
        margin-right: 30px;
    }
}

.para{
    margin-top: 40px;
    font-weight: 700;
    text-align: justify;
    color: #696969;
    font-size: 1.25rem;
}
@media(max-width:768px){
    .para{
        font-size: 0.75rem;
    }
}

.middle-heading{
    margin-top: 100px;
    font-weight: 700;
    color: #696969;
    font-size: 3rem;
}
@media(max-width:768px){
    .middle-heading{
        font-size: 1.75rem;
    }
}
.team-wrapper{
    margin-left: 40px;
    margin-right: 40px;
}
.left-card{
    margin-left: 50px;
}
@media(max-width:768px){
    .left-card{
        margin-right: auto;
        margin-left: auto;
    }
}
.right-card{
    margin-right: 50px;
}
@media(max-width:768px){
    .right-card{
        margin-right: auto;
        margin-left: auto;
    }
}
.intermediate-row{
    margin-top: 150px;
}
@media(max-width:768px){
    .intermediate-row{
        margin-top: 10px;
    }
}
.bloop{
    margin-top: 150px;
}
@media(max-width:768px){
    .bloop{
        margin-top: 20px;
    }
}
.bloop1{
    margin-bottom: 150px;
}
@media(max-width:768px){
    .bloop1{
        margin-bottom: 20px;
    }
}
.card-title{
    font-weight: 700 !important; 
    color: black !important;
}
.card-body h6{
    margin-top: 20px;
    color: black;
    font-weight: 500;
}
.about-image{
    height: 35rem;
}
@media(max-width:1024px){
    .about-image{
        height: 25rem;
    }
}
@media(max-width:768px){
    .about-image{
        height: 18rem;
    }
}
.cust-abt-img{
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
.cust-abt-img-seperator{
    width: auto;
    margin: 0 auto;
}
.qual{
    font-size: 13px;
    text-align: left;
    margin-top: 15px;
}
.nickname{
    color: #473DE7;
    font-size: 15px;
    font-weight: 800;
    margin-top: 15px;
}

.card{
    border-radius: 15px !important;
    
}

.abtus-img-left{
    float: left;
    left: 0;
    height: 42rem !important;
}
@media(max-width:768px){
    .abtus-img-left{
        height: 25rem !important;
        margin-top: 40px;
    }
}

.abtus-img-soop{
    height: 20rem !important;
    margin: 0 auto;
    
}
@media(max-width:768px){
    .abtus-img-soop{
        height: 10rem !important;
    }
}






.sec-head{
    font-weight: 700; 
    font-size: 1.25rem;
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
}
.sec-body{
    font-weight: 600;
    font-size: 1rem;
    margin:0 auto;
    margin-top: 5px;
}



.abtus-road{
    height: 10rem;
    margin: 0 auto;
    margin-top: 20px;
}

.journey-header-right{
    font-size: 2.75rem;
    color: #696969;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 15px;
}
.journey-header-left{
    font-size: 2.75rem;
    color: #696969;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 15px;
}
@media(min-width:768px){
    .journey-header-left{
        margin-left: -70px;
    }
}
.abtus-img-right{

    float: right;
    right: 0;
    height: 37rem !important;

}
@media(max-width:768px){
    .abtus-img-right{
        height: 25rem !important;   
    }
}

.sup-container{
    margin-top: 60px;
    
}
@media(min-width:768px){
    .sup-container{
        margin-left: -70px;
    }
}

.support{
    height: 11rem !important;
}

.app-supp{
    margin-top: 250px;
}
@media(max-width:768px){
    .app-supp{
        margin-top: 30px;
    }
}

.startup-support{
    height: 5rem !important;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
}

.bl{
    margin-bottom: -100px;
}
@media(max-width:768px){
    .bl{margin-bottom: 0px;}
}
.apply{
    width: 17rem;
    margin-top: -130px;
    margin-right: 200px; 
    margin-bottom: 150px;
}
@media(max-width:768px){
    .apply{
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 60px;
        margin-top: 40px;
    }
}