.section-heading-l {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 4.2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
    color: rgba(0,0,0,.6);
    margin-left: 90px;
   
}
@media(max-width: 768px){
    .section-heading-l {
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 4.2rem;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        text-align: left;
        color: rgba(0,0,0,.6);
        text-align: center;
    }
}

.section-content-l {
    margin-left: 110px;
    margin-top: 30px;
    color: #696969;
    
}
@media(max-width:768px){
    .section-content-l {
        margin-left: 20px;
        align-items: center;
        margin-top: 30px; 
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;    
    }
}

.section-description-l li {
    vertical-align: middle;
    background: url("../images/tick.png") no-repeat 0;
    padding: 1rem 0 1rem 3.5rem;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    color: #696969;
    
}
@media(max-width:768px){
    .section-description-l li {
        vertical-align: middle;
        background: url("../images/tick.png") no-repeat 0;
        padding: 1rem 0 1rem 3.5rem;
        list-style: none;
        font-size: 13px !important;
        font-weight: 600;
        
    }
}


.section-heading-r {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 4.2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
    color: rgba(0,0,0,.6);
    margin-right: 0px;
    margin-left: 50px;
   
}
@media(max-width:768px){
    .section-heading-r {
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: 2.5rem;
        margin-top: 20px;
        line-height: 4.2rem;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        text-align: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: rgba(0,0,0,.6);
       
    }
}

.section-content-r {
   
    margin-left: 0px;
    margin-top: 30px;
}
@media(max-width:768px){
    .section-content-r{
        
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

.section-description-r li {
    vertical-align: middle;
    background: url("../images/tick.png") no-repeat 0;
    padding: 1rem 0 1rem 3.5rem;
    list-style: none;
    font-size: 18px;
    color: #696969;
    font-weight: 600;
    margin-left: 100px;
    
}
@media(max-width:768px){
    .section-description-r li{
        vertical-align: middle;
        background: url("../images/tick.png") no-repeat 0;
        padding: 1rem 0 1rem 3.5rem;
        list-style: none;
        margin-left: 0px;
        margin-right: 20px;
        font-size: 15px !important;
        font-weight: 600;
        
    }
}

.centerTest {
    width:100%;
    text-align:center;
}




.box {
    width: 60px;
    height: 60px;
    background: #d0caff;
    text-align:center;
    padding: 10px;
    margin: 10px;
}
.my-plus {
    color: #006800;;
    background: white;
    border-radius: 50%;
    font-size: 32px;
}

.card-text{
    font-size: 17px !important;
}
@media(max-width:768px){
    .card-text{
        font-size: 14px !important;
    }
}