.intro-page{
    min-height: 100vh;
    background: url("../images/bg1920.png") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

/* .cust-container{

    height: 400px;
    padding-top: 300px;
   
}

.cust-row{
    border: 2px solid #ff0000;
    height: 300px;
    
}*/

.cust-col{
    /* border: 2px solid green; */
} 
.cust-container{
    padding-top: 150px;
    /* border: 2px solid #ff0000; */
}
.home-mob-screen{
    height: 35rem;
}
@media(max-width:768px){
    .home-mob-screen{
        display: none;
    }
}
.landing-heading{
    font-size: 36px;
    font-weight: 600;
    color:#fff;
}
@media(max-width:768px){
    .landing-heading{
        display: block;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
        align-self: center;
    }
}
.landing-body{
    font-weight: 500;
    color:#fff;
}
@media(max-width:768px){
    .landing-body{
        display: block;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
        text-align: center;
        padding-top: 50px;
    }
}
.landing-download-button{
    height:35px;
    width:104px;
    margin-left: 50px;
}
@media(max-width:768px){
    .landing-download-button{
        display: none;
    }
}

.landing-download{
    margin-top: 40px;
}

.store-download-elements{
    margin-top: 140px;
    margin-bottom: 0px
}
.downloadable-imgs{
    height: 50px;
    width: 155px;
}
.mob-header-img{
    display: none;
}
@media screen and (max-width:768px){
    .landing-download, .store-download-elements, .downloadable-imgs{
        display: none; 
    }
    .mob-header-img{
        display: block;
    }
    .mobile-header-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
        margin-top: 50px;
    }
}

.mob-dwnld{
    display: none;
}
@media(max-width:768px){
    .mob-dwnld{
        height: 60px;
        width: 185px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 170px;
    }
}

.patimg1{
    display: block;
    height: 50px;
    width: 160px;
    margin-top: 30px;
}
@media(max-width:768px){
    .patimg1{
        display: none;
    }
}
.patimg2{
    height: 50px;
    width: 160px;
    margin-top: 30px;
    display:none;   
}
@media(max-width:768px){
    .patimg2{
        display: block;
    }
}