.highlightme{
    color: #473DE7;
    font-size: 70px;
    font-family: 'Dosis', sans-serif;
}

html, body{
    margin: 0px;
    width: 100%;
    padding: 0px;
    align-self: flex-end;
    overflow-x: hidden;
}


​.imgr{
    float:right;
    height:auto;
    align-self: flex-end;
    position: absolute;
    width: auto;
    margin: 0;
}​

.imgl{
    float:left;
    height:auto;
    align-self: flex-start;
    margin: 0;
    width: auto;
    position: absolute;
}
    




/* .my-container{
    border: 1px solid green;
}
.my-row{
    
    border: 3px solid red;
    height: 800px;
}

.my-col{
    border: 3px dotted blue;
} */