.nav-header-img-custom{
    width:60px;
    height: 60px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: all .3s linear;

}

nav div ul li a.active {
    background: rgb(0, 0,0,0.2);
    width: 100%;
}
nav div ul li  {
    color: white;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
}
nav{
    min-height: 100px !important;
    transition: display 1s ease-in;
}

.mobile-header-body {
    background: #fff;
    height: 100vh;
    display: none;
    position: relative;
    transition: display 1s ease-in;
}

.cust-nav-link{
    color: white !important;
    
}

.nav-custom{
    background-color: transparent !important;
}

.nav-colored{
    background-color: white;
    -webkit-box-shadow :0px 1px 4px 0px rgba(180, 180, 180, 0.5);
    -moz-box-shadow: 0px 1px 4px 0px rgba(180,180,180, 0.5);
     box-shadow: 0px 1px 4px 0px rgba(180,180,180, 0.5);
}
