*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #92d333;

}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    background-color: teal;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: thistle ;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width:25px;
    height: 5px;
    background: white;
    margin: 5px;
}

@media screen and (max-width:768px){
   .nav-links{
       width: 60%;
   } 
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
       position: absolute;
       right: 0px;
       height: 100%;
       top:8vh;
       background: #a7984f;
       display: flex;
       flex-direction: column;
       align-items: center;
       width:50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
       z-index: 9999;
    
   }

   .burger{
       display: block;
   }
}

